header {
    margin-top: 4.3rem;
}

.portfolio {
color: #CACACA;
margin: 0px;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 27px;
}

header h1 {
    margin: 10px 0px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 34px;
}

header p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
}